@model LyricsApp.Models.ViewModels.IndexPageModel

<body>
    <form asp-controller="Home" asp-action="GetLyricsByArtistAndTitle" method="get" style="margin: 50px">
        <p>
            <center>
                <label asp-for="data.artist">Artist:</label>
                <input asp-for="data.artist" />

                <br />

                <label asp-for="data.title">Title:&nbsp;&nbsp;</label>
                <input asp-for="data.title" />
                <br /><br />
                <input type="submit" value="Get lyrics" class="btn btn-primary btn-lg">
            </center>
        </p>
    </form>
    <div>
        <h3>Your favourite songs:</h3>
        @foreach (var item in Model.favouriteSongs)
        {
            <div>
                <h4 style="display: inline;">
                    @Html.DisplayFor(m => item.Title)
                    by
                    @Html.DisplayFor(m => item.Artist)
                    
                </h4>
                <form asp-action="GetLyricsByArtistAndTitle" method="get" style="display: inline;">
                    <input asp-for="data.artist" value="@item.Artist" type="hidden" />
                    <input asp-for="data.title" value="@item.Title" type="hidden" />
                    <input type="submit" value="View lyrics" class="btn btn-sm btn-success">
                </form>
                <form asp-action="RemoveFromFavourites" style="display: inline;">
                    <input asp-for="song.ID" value="@item.ID" type="hidden" />
                    <input type="submit" value="X" class="btn btn-sm btn-danger"/>
                </form>
            </div>
        }
    </div>


</body>
